.contact-form {
  background: var(--primary-light);
  padding: 54px;
  border-radius: 12px;
  max-width: 600px;
  margin: 50px auto;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #bbb;
  font-size: 1rem;
  font-family: inherit;
}

.contact-form textarea {
  min-height: 130px;
  resize: none;
}

.contact-form button {
  background: #0e5686;
  color: #fff;
  border: none;
  padding: 14px;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
  align-self: center;
  min-width: 200px;
}

.contact-form button:hover {
  background: #0b4b76;
}

@media (max-width: 768px) {
  .contact-form {
    padding: 20px;
  }
}
